aiofiles
whisper
aiohappyeyeballs
aiohttp
aiosignal
attrs
blinker
soundfile
cffi
chardet
charset-normalizer
click
colorama
fastapi
filelock
Flask
Flask-Cors
fonttools
future
fuzzywuzzy
scipy
torch
numpy
openai-whisper
sounddevice
flask_apscheduler
nest_asyncio
annotated-types
anyio
bcrypt
distlib
dnspython
email_validator
h11
idna
itsdangerous
Jinja2
MarkupSafe
passlib
pycparser
pydantic
pydantic_core
PySocks
python-dotenv
requests
requests-file
setuptools
sniffio
starlette
typing_extensions
urllib3
uvicorn
virtualenv
Werkzeug
gunicorn
torchvision
torchaudio
flask[async]
flask-socketio
memory_profiler
eventlet