aiofiles
whisper
aiohappyeyeballs
aiohttp
aiosignal
altair
attrs
audioread
beautifulsoup4
blinker
blis
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cors
cycler
cymem
decorator
deep-translator
distro
fastapi
ffmpeg-python
ffmpy
filelock
Flask
Flask-Cors
fonttools
frozenlist
fsspec
git-filter-repo
future
fuzzywuzzy
gevent
gradio
scipy
torch
numpy
openai-whisper
soundfile 
SpeechRecognition
sounddevice
flask_apscheduler
"flask[async]"
nest_asyncio