aiofiles
whisper
aiohappyeyeballs
aiohttp
aiosignal
altair
attrs
audioread
beautifulsoup4
blinker
blis
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cors
cycler
cymem
decorator
deep-translator
distro
fastapi
ffmpeg-python
ffmpy
filelock
Flask
Flask-Cors
fonttools
frozenlist
fsspec
git-filter-repo
future
fuzzywuzzy
gevent
gradio
scipy
torch
numpy
openai-whisper
soundfile 
SpeechRecognition
sounddevice
flask_apscheduler
nest_asyncio
annotated-types                                     
anyio                                     
bcrypt                                     
distlib                          
dnspython                                      
email_validator                                     
greenlet                                      
h11                                      
idna                                       
itsdangerous                                     
Jinja2                                      
MarkupSafe                                      
passlib                                      
platformdirs                                     
pycparser                                       
pydantic                                      
pydantic-settings                                      
pydantic_core                                      
PySocks                                      
python-dotenv                                      
requests                                      
requests-file                                     
setuptools                                      
sniffio                                      
SQLAlchemy                                      
starlette                                       
tldextract                                      
typing_extensions                                       
urllib3                                    
uvicorn                 
virtualenv                                  
Werkzeug                                    
zope.event                                       
zope.interface                                    
gunicorn
torchvision 
torchaudio 
flask[async]